<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <!-- Header!! -->
    <%- include('partials/header') %>

    <div class="login">
        <h1 class="login__title">LOGIN</h1>
        <img class="login__img" src="/assets/images/logo R.jpg" alt="">
        <form class="login__form" id="loginForm">

            <div class="login__input-group">
                <label for="email">Email</label>
                <input type ="email" id="email" name="email" requerid placeholder="example@email.com" class="section-register__form-input" >
            </div>
            
            <div class="login__input-group"> <br>
                <label for="password1">Contraseña</label>
                <input type="password" id="password" name="password" requerid>
            </div>

            <button type="submit" id="submit" class="btn">Ingresar</button> 
            <br>
            <a class="a" href="#">A olvidado su contraseña?</a> <br>
            <a class="a" href="#">Crear cuenta</a>
        </form>
    </div>

    <%- include('partials/whatsapp') %>
    <%- include('partials/footer') %>
    
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/alert.js"></script>
<script src="/js/header.js"></script>
<script src="/js/login.js"></script>

</body>
</html>