<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordenes</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Header!! -->
    <%- include('partials/header') %>
 
    <main class="main">
        <h1>Mi Orden de Pedido:</h1>
        <div class="order-table-container">
            <table class="order-table">
                <thead>
                    <tr>
                        <th>IMAGEN</th>
                        <th>PRODUCTO</th>
                        <th>PRECIO</th>
                        <th>CANTIDAD</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody id="order-table_body">
                    
                </tbody>
            </table>
        </div>
        <div class="order-finalizar">
            <button class="order-finalizar__btn" id="order-finalizar-btn" onclick="finalizarCompra()">
                FINALIZAR COMPRA
            </button>
        </div>
    </main>

    <!-- footer! -->
    <%- include('partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
    <script src="/js/alert.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/orders.js"></script>
</body>

</html>