<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detalle del producto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>

    <%- include('partials/header') %>
    
  <main class="main" id="main">
    <!-- <div class = "card__detailr">
      <div class = "card__detail">
        <!-- card left -->
        <!-- <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img src = "/assets/images/imagenes de cards venta/shopping (1).webp" alt = "shoe image">
              <img src = "/assets/images/imagenes de cards venta/shopping.webp" alt = "shoe image">
            </div>
          </div>
          <div class = "img-select">
            <div class = "img-item">
              <a href = "#" data-id = "1">
                <img src = "/assets/images/imagenes de cards venta/shopping (1).webp" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "2">
                <img src = "/assets/images/imagenes de cards venta/shopping.webp" alt = "shoe image">
              </a>
            </div>
          </div>
        </div>
        <!-- card right -->
        <!-- <div class = "product-content">
          <h2 class = "product-title">MONITOR 24" ASUS VG24VQ CURVO GAMING 144HZ AUDIO</h2>
          <a href = "#" class = "product-link">visita nuestra pagina Rsystem</a>
          <div class = "product-rating">
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star-half-alt"></i>
            <span>4.7(21)</span>
          </div>

          <div class = "product-price">
            <p class = "last-price">Antes: <span>$140.000</span></p>
            <p class = "new-price">Ahora: <span>$131.784</span></p>
          </div>

          <div class = "product-detail">
            <p> - Monitor Curvo Gamer TUF Gaming VG24VQ
              - 23.6 pulgadas Full HD (1920 x 1080), 144Hz
              - Extreme Low Motion Blur™, FreeSync™, 1ms (MPRT)
              - Monitor de juegos 1500R Full HD de 23.6 pulgadas</p>
            <ul>
              <li>Disponible: <span>En stock</span></li>
              <li>Envio: <span>Gratis</span></li>
            </ul>
          </div>

          <div class = "purchase-info">
            <h2>Cantidad</h2>
            <div class="product-quantity-container__increase quantity-product">
              <button class="quantity-product__btn" onclick="decreaseInput()">
                  -
              </button>
              <input type="number" class="quantity-product__input" id="quantityInput" value=1>
              <button class="quantity-product__btn" onclick="increaseInput()">
                  +
              </button>
          </div>
            <input type = "number" min = "0" value = "1">
            <button class = "btn" onclick="addCart()">
              Añadir al carrito <i class = "fas fa-shopping-cart"></i>
            </button>
            <button class = "btn" onclick="btnComprar()">Comprar</button>
          </div> -->
        <!-- </div> -->
      <!-- </div> --> -->
    <!-- </div> --> -->
</main>
    

<%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
    <script src="/js/alert.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/product-detail.js"></script>

  </body>
</html>